/* -font import, globale styles für die ganze APP, oder h1, h2, h3 */
/* -Komponente unabhängige sachen */
:root {
  --main-color: orange;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover {
}
