.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  background-color: white;
  padding: 3rem;
}

.card {
  background-color: lightgray;
  width: 100%;
  height: 100%;
  padding: 3rem;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}
