header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 50%;
}

header a {
  padding: 5px 15px;
}

header svg {
  fill: white;
  background-color: yellow;
  padding: 5px;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}

.dark {
  background-color: black;
  color: white;
}

.dark a {
  color: white;
}
